* {
    font-family: 'Red Hat Display', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    position: fixed;
    background-color: #A52F00;
    width: 100%;
}

header h1 {
    position: relative;
    left: 3em;
    color: #FFE3D8;
}

nav {
    position: fixed;
    right: 5em;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

nav ul li {
    font-size: 20px;
    justify-content: space-around;
    padding: 10px;
    padding-top: 16px;
}

nav ul a {
    text-decoration: none;
    color: #FFE3D8;
}

.content {
    margin: 0;
    padding: 0;
}

.jobhero {
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1574728456255-59a286f7aaf2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80);
    width: 100%;
    height: 100%;
    padding-top: 150px;
    padding-bottom: 180px;
}

.recentjobs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.jobpost {
    border:  2px solid #000;
    padding: 0;
}

.postheader {
    background: #ff4800;
    color: #ffffff;
    padding: 10px;
    margin: 0;
}

.postcontent {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 15px;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.mission {
    padding: 5px;
    font-size: large;
}

.industryphoto {
    right: 2em;
    padding: 0;
}

.categorywrap {
    padding: 0px;
}

.categories {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0;
    border: 0;
}

.categories li {
    list-style-type: none;
    color: #fff;
    padding: 0px;
}

.gencat {
    background-color: #A62F00;
    font-size: 40px;
    padding: 30px;
}

.cat1 {
    background-color: #ac441b;
    font-size: 40px;
    padding: 30px;
}

.cat2 {
    background-color: #b45029;
    font-size: 40px;
    padding: 30px;
}

.cat3 {
    background-color: #c26743;
    font-size: 40px;
    padding: 30px;
}

.cat4 {
    background-color: #d68461;
    font-size: 40px;
    padding: 30px;
}

.catdesc {
    display: flex;
    flex-direction: row;
}

footer {
    text-align: center;
    background-color: #661d00;
    color: #fff;
    width: 100%;
    height: 100%;
}

footer p {
    margin: 0;
}