<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>GedditDone</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GedditDone</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <header class="masthead">
        <h1>GedditDone.com</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/api/jobs">Find a Job</a></li>
                <li><a href="/profile">Post a Job</a></p></li>
                {{#if logged_in}}
                <div>
                    <li><a href="/profile">Profile</a></li>
                    <li><button class="no-button" id="logout">Logout</button></li>
                    {{else}}
                    <li><a href="/login">Login</a></li>
                    {{/if}}
                </div>
          </ul>
    </nav>
    </header>
    <!-- Conditionally render login or logout links -->


    <main class="container container-fluid mt-5">
        <div class="content">

            {{{body}}}
        </div>
    </main>

    </div>
    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

</body>

</html>

</html>