<!DOCTYPE html>
<html lang="en">

<head>
<<<<<<< HEAD
  <meta charset="UTF-8">
  <title>GedditDone</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
=======
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GedditDone</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="/css/style.css" />
>>>>>>> 5a6af5de19c269d86c95a6b7921d532ec35019bd
</head>
<nav>
        <ul>
            <div class="home">
                <li><a href="/">Home</a></li>
            </div>
            <div class="find-job">
                <li><a href="/login">Find a Job</a></li>
            </div>
            <div class="post-job">
                <li><a href="/login">Post a Job</a></p>
                </li>
            </div>
        </ul>
    </nav>
<body>
<<<<<<< HEAD
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        GedditDone
      </h1>
=======
    <header class="masthead">
        <h1>GedditDone.com</h1>
>>>>>>> 5a6af5de19c269d86c95a6b7921d532ec35019bd
    </header>

    <!-- Conditionally render login or logout links -->
    {{#if logged_in}}
    <a href="/profile">profile</a> |
    <button class="no-button" id="logout">logout</button>
    {{else}}
    <p class="login"></p>
    <a href="/login">login</a>
    {{/if}}

    
    <main class="container container-fluid mt-5">
        <div class="content">

        {{{body}}}
    </div>
    </main>

    </div>
    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}


    
    </main>
</body>

</html>

</html>