<div class="loginforms">
    <form id="login-form" class="form">
      <h2>Login</h2>
      <label for="email-login">Email:</label>
      <input class="form-input" type="text" id="email-login" />
      <label for="password-login">Password:</label>
      <input class="form-input" type="password" id="password-login" />
      <button class="btn btn-primary" type="submit">Login</button>
      </form>

    <form id="signup-form" class="form">
        <h2>Signup</h2>
        <label for="firstname-signup">Firstname:</label>
        <input class="form-input" type="text" id="firstname-signup" />
        <label for="lastname-signup">Lastname:</label>
        <input class="form-input" type="text" id="lastname-signup" />
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
        <button class="btn btn-primary" type="submit">Signup</button>
    </form>
</div>

<script src="./js/login.js"></script>